<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <style>

      nav{
        
      }
      .logout{
        position: absolute;
        right: 0;
        left: auto;
      }
    </style>
  </head>
  <body>

    <nav class="navbar ">
      <a href="{% url 'logout' %}" class="btn btn-danger logout nav-item">Logout</a>
    </nav>
    <header>
      <h1>Welcome back, {{request.user}} </h1>
    </header>
    <main>
      <div class="container">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iste dignissimos dolor rem distinctio illo magni quae, ad non illum natus blanditiis nobis repudiandae earum quibusdam odit nam sit. Non, tempora? Sit harum, consequatur nisi repudiandae praesentium ex architecto perspiciatis! Quidem, dignissimos unde veniam earum blanditiis at illo perspiciatis. Necessitatibus et adipisci tempora ducimus itaque laboriosam, officia eaque asperiores accusamus rem odit distinctio, dolorem debitis consectetur quo neque ipsum dolores. Itaque, necessitatibus minima vel eligendi nam velit reprehenderit neque exercitationem iusto provident nostrum at quam nobis dolor temporibus fuga a beatae explicabo dolores, laudantium ullam suscipit aliquam. Quibusdam, hic dignissimos.</p>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>